<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestisci Ricette</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        <div th:fragment="content">
            <h1 class="mt-4">Gestisci Ricette</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome Ricetta</th>
                        <th>Cuoco</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ricetta : ${ricette}">
                        <td th:text="${ricetta.nome}"></td>
                        <td th:text="${ricetta.cuoco.nome} + ' ' + ${ricetta.cuoco.cognome}"></td>
                        <td>
                            <a th:href="@{'/admin/ricette/edit/' + ${ricetta.id}}" class="btn btn-warning">Modifica</a>
                            <a th:href="@{'/admin/ricette/delete/' + ${ricetta.id}}" class="btn btn-danger">Elimina</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="text-white text-center py-3" style="background-color: #a080fc;">
        <p>&copy; <span th:text="${#dates.format(new java.util.Date(), 'yyyy')}"></span> SIW Food. All rights reserved.</p>
    </footer>
</body>
</html>
