body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ede2ff;
    color: #343a40;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
}

.navbar-nav .nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #2e3ee9;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.hero {
    margin: 2rem 0;
}

.large-logo {
    width: 150px;
    height: 150px;
}

footer {
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #a080fc;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
}

.card-img-container {
    width: 100%;
    overflow: hidden;
    max-height: 300px;
}

.card-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
